
#task-queue, #running-queue {
  border: 1px solid black;
  padding: 12px;
}
.task-queue-item, .running-queue-item {
  display: inline-block;
  border: 1px solid black;
  padding: 12px;
}

#file-drop {
  height: 100px;
}
.enable-file {
  color: black;
}
.disableFile {
  color: #eee;
}
